body {
    font-family: 'Orbitron', sans-serif;
    background: black;
    color: lime;
    text-align: center;
}

h1 {
    color: cyan;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}


/* DEVELOPER: Jacob Gabriel Pazmino, IS117-002, Spring 2025 */
